

.about-container {

    display: flex;
    flex-direction: row;

    .content-container {
        border-radius: 100px;
        width: 351px;
        height: 351px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
        padding: 16px;
    }
}