

@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  padding: 0px;
  margin-left: 40px;
}

a {
  position: relative;
  display: block;
  padding: 0px;
  font: 700 3rem Raleway, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--fill-color);
  background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
  color: transparent;
  background-clip: text;
  transition: 0.25s linear;
}
a:hover {
  background-size: 100%;
}

hr {
  border: 1px solid var(--fill-color);

  padding-right: 40px;
}

.hr-container {
  width: 100%;
}

.current-page {
  color: var(--fill-color);
}

.half-opacity {
  opacity: 0.5;
}