

@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700"); // Navbar fonts



.navigation-section {
  display: flex;
  flex-direction: row;

  .menu {
    display: flex;
    min-width:300px;

    .hr-container {
      width: 100%;
    
    
    
      .hr-settings {
        right: 100%; 
        // transition: 0.5s; 
      }
    
      .animate {
        right: 0;
      }
    
      .show-hr {
        opacity: 1;
      }
    
      .hide-hr {
        opacity: 0;
      }
    
    }
    
    .current-page {
      color: var(--fill-color);
    }
    
    .half-opacity {
      opacity: 0.5;
    }
    
    
    
    .nav-row {
      display: flex;
      flex-direction: row;
    }
    
    .right-spacing {
      //margin-right: var(--banner-text-right-alignment);
    }
    
    .travel-spacing {
      // margin-right: 199px;
    }
  }

  .column-thing {
    border-left: 2px solid var(--fill-color);
    border-right: 2px solid var(--fill-color);
    border-bottom: 2px solid var(--fill-color);
    min-width: 65px;

    // Me cheating to line up containers:
    //transform: translateY(-8px);
  }
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  padding: 0px;
  margin-left: 40px;
}

a {
  position: relative;
  display: block;
  padding: 0px;
  font: 700 3rem Raleway, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--fill-color);
  background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
  color: transparent;
  background-clip: text;
  transition: 0.25s linear;
}
a:hover {
  background-size: 100%;
}

hr {
  border: 1px solid var(--fill-color);

  padding-right: 40px;
}
