
.travel-container {
    display: flex;
    flex-direction: column;

    .blurb-section {
        display: flex;
        flex-direction: row;
        justify-content: start;
        text-align: left;
        margin-bottom: 38px;

        .text {
            font-size: 24px;
        }
    }

    .preview-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 54px;
    }
}

