
.travel-container {
    display: flex;
    flex-direction: column;

    .blurb-section {
        display: flex;
        flex-direction: row;
        justify-content: start;
        text-align: left;
        margin-bottom: 38px;

        .text {
            font-size: 24px;
        }
    }

    .preview-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 54px;
    }
}
// Hover animations for travel images
#thumbnail:hover {
   // transform: scale(1.01);
   // transition: transform .1s;
    //border-radius: 3px;
}
#thumbnail {
    border-radius: 3px;
}
