@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700');

p {
  font-family: 'Raleway', serif;
  margin: 0px;
}

// App wide css variables
:root {
  --fill-color: #5b4854;
}

.app-container {
  display: grid;

  // Colums: navbar, divider, content
  // grid-template-columns: 250px, 65px, auto;
  //grid-template-columns: 250px, 65px, auto;

  // Make 3 rows, with the fixed row having a fixed heaight of 396, and the second row auto.
  //grid-template-rows: 325px auto;
  grid-template-rows: 386px auto 100%;
  grid-template-areas:
    'nav nav top top top top top top top top'
    'divider divider divider divider divider divider divider divider divider divider'
    'page page page page page page page page page page';

  // Apply rules when the screen size is 600px or less
  @media only screen and (max-width: 1414px) {
    .desktop-home {
      display: none;
    }

    .mobile-home {
      display: initial;
    }
  }

  //qwerqw

  // Apply rules when the screen size is 1347px or more
  @media only screen and (min-width: 1415px) {
    .desktop-home {
      display: initial;
      min-height: inherit;
    }

    .mobile-home {
      display: none;
    }
  }

  // Apply rules when the screen size is 600px or less
  @media only screen and (max-width: 1595px) {
    .desktop-about {
      display: none;
    }

    .mobile-about {
      display: initial;
    }
  }

  // Apply rules when the screen size is 1347px or more
  @media only screen and (min-width: 1596px) {
    .desktop-about {
      display: initial;
    }

    .mobile-about {
      display: none;
    }
  }

  .nav-container {
    grid-area: nav;
  }

  .divider-container {
    grid-area: divider;
    min-height: 65px;
    border-top: 2px solid var(--fill-color);
    border-bottom: 2px solid var(--fill-color);
  }

  .top-container {
    grid-area: top;
    align-self: start;
    min-height: 386px;
  }

  .page-container {
    grid-area: page;
    padding: 27px;

    .column-container {
      display: flex;

      min-width: 60px;
      border-left: 2px solid var(--fill-color);
      border-right: 2px solid var(--fill-color);
      margin-right: 40px;
      margin-left: 306px; // Eventually make this the width of the CONTACT string, but hidden
      display: none;
    }

    .show-column {
      // Make the border stretch to the top of screen
      top: 0;
      position: absolute;
      height: 100%;
      display: initial;
    }

    .separator-container {
      opacity: 0;
      margin-left: 40px;
      margin-right: 148px;
    }

    .separator-container:hover {
      cursor: default;
    }

    .routes-container {
      width: calc(100vw - 473px);
      display: flex;
      position: absolute;
      top: 0px;
    }
  }
}
