@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

p {
  font-family: 'Raleway', serif;
  margin: 0px;
}


// App wide css variables
:root {
    --fill-color: #5b4854;
    --left-content-alignment: 420px;
    --first-level-top-alignment: 145px;
    --second-level-top-alignment: 210px;
    --third-level-top-alignment: 285px;
    --fourth-level-top-alignment: 360px;
    --fifth-level-top-alignment: 435px;

    // Spacing for banner text
    --banner-text-right-alignment: 236px;
}


.app-container {
    margin: 16px 0px 16px 0px;
    padding: 0px;
    width: 100%;


    .page-container {
        display: flex;
        flex-direction: row;

        .column-container {
            display: flex;

            min-width: 60px;
            border-left: 2px solid var(--fill-color);
            border-right: 2px solid var(--fill-color);
            margin-right: 40px;
            margin-left: 306px; // Eventually make this the width of the CONTACT string, but hidden
            display: none;
        }

        .show-column {
            // Make the border stretch to the top of screen
            top: 0;
            position: absolute;
            height: 100vh;
            display: initial;
        }

        .separator-container {
           opacity: 0;
           margin-left: 40px;
           margin-right: 148px;
        }
        
        .separator-container:hover {
            cursor: default;
        }

        .routes-container {
            display: flex;
            left: var(--left-content-alignment);
            position: absolute;
            top: 0px;
        }

        .-positioning {
            top: var(--first-level-top-alignment);
        }

        .about-positioning {
            top: var(--second-level-top-alignment);
        }

        .travel-positioning {
            top: var(--third-level-top-alignment);
        }

        .travel-album-container {
            position: absolute;
            top: var(--third-level-top-alignment);
        }

        .books-positioning {
            top: var(--fourth-level-top-alignment);
        }

        .contact-positioning {
            top: var(--fifth-level-top-alignment);
        }
    }
}
