body {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  background: #1A1E23;
  background-image: url('./assets/grey_texture.jpeg');
  padding: 0px;
  margin: 0px;
}

body > #root > div {
  width: 100vw;
}